.DS_Store
.vscode

# MariaDB data
.mariadb

# User's custom modules
custom/*
!custom/README.md

# User's documents
documents/*
!documents/README.md

# Dolibarr data
dolibarr/*
!dolibarr/.gitkeep

# Test environment instances
test/*
!test/README.md