# *
.DS_Store

.vscode

# Compose files
composes/adminer/*
!composes/adminer/compose.yml
!composes/adminer/README.md

composes/dolibarr/*
!composes/dolibarr/README.md

composes/mariadb/*
!composes/mariadb/compose.yml
!composes/mariadb/README.md

composes/phpmyadmin/*
!composes/phpmyadmin/compose.yml
!composes/phpmyadmin/README.md

composes/traefik/*
!composes/traefik/compose.yml
!composes/traefik/traefik.yml
!composes/traefik/README.md

# User's custom modules
custom/*
!custom/README.md

# Dockerfile files
dockerfiles/*
!dockerfiles/example.Dockerfile
!dockerfiles/README.md

# Dolibarr's versions
versions/*
!versions/README.md
